<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="template.xhtml"
             xmlns:p="http://primefaces.org/ui"
             xmlns:f="http://xmlns.jcp.org/jsf/core">

    #{logBean.verificarPerfil(usuarioBean.usuarioLogado)}
    <p:fieldset style="width: 97%">
        <h:panelGrid width="100%" style="text-align: center" >
            <h:outputLabel value="BUSCAR"  styleClass="labelCabecalho"/>
        </h:panelGrid>
        <p:panelGrid  columns="5" columnClasses="column25,column25,column25,column25" >

            <h:panelGrid  width="100%" style="text-align: center" >
                <h:panelGrid  width="50%" columns="2" style="text-align: center" >
                    <h:panelGrid width="100%" style="text-align: center" >
                        <h:outputLabel value="PERÍODO"  styleClass="labelDados"/>
                    </h:panelGrid>
                    <h:panelGrid id="pgPeriodoTodos" columns="2" >
                        <h:outputLabel value="Todos:"  styleClass="labelDados"/>
                        <h:selectBooleanCheckbox  value="#{logBean.selectBooleanCheckBox_periodo}"  >
                            <p:ajax update="dtIni,dtFim,pgLogs" listener="#{logBean.buscarLogs()}" />
                        </h:selectBooleanCheckbox>
                        <p:selectOneRadio value="true" rendered="true" />
                    </h:panelGrid>
                </h:panelGrid>

                <h:panelGrid columns="2">
                    <h:panelGrid columns="4">
                        <h:outputLabel value="De"  styleClass="labelDados"  />
                        <p:calendar id="dtIni" value="#{logBean.dtIni}" locale="pt" size="10" >
                            <p:ajax event="dateSelect" listener="#{logBean.buscarLogs()}" update="dtFim,pgLogs,pgPeriodoTodos" />
                        </p:calendar>
                        <h:outputLabel value="a"  styleClass="labelDados"/>
                        <p:calendar id="dtFim" value="#{logBean.dtFim}" locale="pt" size="10" >
                            <p:ajax event="dateSelect" listener="#{logBean.buscarLogs()}" update="dtIni,pgLogs,pgPeriodoTodos" />
                        </p:calendar>
                    </h:panelGrid>
                </h:panelGrid>
            </h:panelGrid>

            <h:panelGrid width="100%" style="text-align: center" >
                <h:panelGrid id="pgCodCliente" width="100%" style="text-align: center" >
                    <h:outputLabel  value="USUÁRIO"  styleClass="labelDados"/>
                </h:panelGrid>
                <h:panelGrid  width="100%" >
                    <p:selectOneMenu  id="somSelecCliente_dlgSelecCliente" value="#{logBean.usuarioLogin}" style="max-width: 100%;min-width: 100%" filter="true" >
                        <f:selectItem  itemLabel="Todos" itemValue="0"/>
                        <f:selectItems  value="#{logBean.usuario_item}"/>
                        <p:ajax event="change" listener="#{logBean.buscarLogs()}" update="pgLogs" />
                    </p:selectOneMenu> 
                </h:panelGrid>
            </h:panelGrid>

            <h:panelGrid width="100%" style="text-align: center" >
                <h:panelGrid id="pgCodVendedor" width="100%" style="text-align: center" >
                    <h:outputLabel value="AÇÃO"  styleClass="labelDados"/>
                </h:panelGrid>
                <h:panelGrid columns="2" width="100%" >
                    <p:selectOneMenu  id="somSelecCliente_dlgSelecVendedor" value="#{logBean.acaoId}" style="min-width: 100%"  filter="true" >
                        <f:selectItem  itemLabel="Todos" itemValue="0"/>
                        <f:selectItems  value="#{logBean.acao_item}"/>
                        <p:ajax event="change" listener="#{logBean.buscarLogs()}" update="pgLogs" />
                    </p:selectOneMenu> 
                </h:panelGrid>
            </h:panelGrid>

            <h:panelGrid width="100%" style="text-align: center" >
                <h:panelGrid width="100%" style="text-align: center" >
                    <h:outputLabel value="OBJETO"  styleClass="labelDados"/>
                </h:panelGrid>
                <h:panelGrid columns="2" width="100%" >
                    <p:selectOneMenu  id="somStatusDivida" value="#{logBean.objetoId}" style="min-width: 100%" filter="true" >
                        <f:selectItem  itemLabel="Todos" itemValue="0"/>
                        <f:selectItems  value="#{logBean.objeto_item}"/>
                        <p:ajax event="change" listener="#{logBean.buscarLogs()}" update="pgLogs" />

                    </p:selectOneMenu> 
                </h:panelGrid>
            </h:panelGrid>

            <h:panelGrid width="100%" style="text-align: center" >
                <h:panelGrid width="100%" style="text-align: center" >
                    <h:outputLabel value="EXIBIR"  styleClass="labelDados"/>
                </h:panelGrid>
                <h:panelGrid columns="2" width="100%" >
                    <p:spinner value="#{logBean.qtdRegistro}" min="1" size="5">
                        <p:ajax  process="@this" listener="#{logBean.buscarLogs()}" update="pgLogs" />
                        <p:ajax  event="keyup" listener="#{logBean.buscarLogs()}" update="pgLogs" />
                    </p:spinner> 
                </h:panelGrid>
            </h:panelGrid>

        </p:panelGrid>

    </p:fieldset>

    <p:fieldset legend="AUDITORIA">
        <h:panelGrid width="100%" style="text-align: center" >
            <h:outputLabel value="REGISTROS DE ATIVIDADES"  styleClass="labelCabecalho"/>
        </h:panelGrid>
        <h:panelGrid id="pgLogs">
            <p:dataTable id="dtUsuarios" value="#{logBean.entidades}" var="log"  rows="20" paginator="true" >
                <p:column headerText="Data"   sortBy="#{log.data}" style="text-align: center; " width="95" >
                    <h:outputText value="#{log.dataString}" styleClass="labelDados" />
                </p:column>
                <p:column headerText="Usuário" sortBy="#{log.usuario.login}" style="text-align: center " width="95" >
                    <h:outputText value="#{log.usuario.login}" styleClass="labelDados"/>
                </p:column>
                <p:column headerText="Ação" sortBy="#{log.log_procedimento.descricao}" style="text-align: center " width="95" >
                    <h:outputText value="#{log.log_procedimento.descricao}" styleClass="labelDados" /> 
                </p:column>
                <p:column headerText="Objeto" >
                    <h:outputText value="#{log.afetado}" styleClass="labelDados"/>
                </p:column>
            </p:dataTable>
        </h:panelGrid>

        <p:dialog  widgetVar="dlgMaisInfo" width="50%" header="MAIS INFORMAÇÕES" dynamic="true"  closable="true" closeOnEscape="false" resizable="false" minimizable="false" onHide="#{vendaBean.fecharConexao()}" onShow="#{vendaBean.gerarParcelas(1)}" >
            <p:fieldset id="fsMaisInfo" >
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{logBean.tinfo1}" styleClass="labelDados" />
                    <h:outputLabel value="#{logBean.info1}"  />
                    <h:outputLabel value="#{logBean.tinfo2}" styleClass="labelDados" />
                    <h:outputLabel value="#{logBean.info2}"  />
                    <h:outputLabel value="#{logBean.tinfo3}" styleClass="labelDados" />
                    <h:outputLabel value="#{logBean.info3}"  />
                    <h:outputLabel value="#{logBean.tinfo4}" styleClass="labelDados" />
                    <h:outputLabel value="#{logBean.info4}"  />
                    <h:outputLabel value="#{logBean.tinfo5}" styleClass="labelDados" />
                    <h:outputLabel value="#{logBean.info5}"  />
                </h:panelGrid>
            </p:fieldset>
        </p:dialog>
    </p:fieldset>
</ui:decorate>

