<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <style type="text/css">
            .ui-widget{font-size:90% !important;}
        </style>
    </h:head>
    <h:body>
        <!--growl exibe mensagens na tela-->
<!--        <p:growl id="growl" sticky="true" showDetail="true" life="6000" >
            <p:autoUpdate/>
        </p:growl>-->

        <h:form>
            #{procedimento_susBean.setarListaAux()}
            <p:fieldset id="fsConsultaProcedimento" style="width: 96%"  > 
                <h:panelGrid width="100%" style="text-align: center" >
                    <h:outputLabel value="PESQUISAR PROCEDIMENTO"  styleClass="labelCabecalho"/>
                </h:panelGrid>
                <p:messages id="msg"  showDetail="true">
                    <p:autoUpdate/> 
                </p:messages>
                <p:fieldset>
                    <p:focus for="busca"/>
                    <h:panelGroup  style="margin-bottom:10px"  >
                        <h:outputLabel for="busca" value="Buscar:" styleClass="labelDados"/>
                        <p:inputText id="busca"  value="#{procedimento_susBean.buscaCodProced}" style="width: 60%"  onkeypress="if (event.keyCode === 13) {
                                    ondblclick();
                                    return false;
                                }">
                            <p:ajax  event="dblclick"  listener="#{procedimento_susBean.selecionarProcedimentoDlg(procedimento_susBean.entidade)}"  process="@this" />
                            <p:ajax  event="keyup"  listener="#{procedimento_susBean.btBuscarProcedimentoDlg(procedimento_susBean.buscaCodProced )}"  update="dtProcedimentos" process="@this" />
                        </p:inputText>
                    </h:panelGroup>
                </p:fieldset>
                <p:fieldset id="fsdtProcedimentos">
                    <p:dataTable id="dtProcedimentos" var="procedimento" value="#{procedimento_susBean.entidades}" paginator="true" rows="6" emptyMessage="Nenhum registro encontrado!" selectionMode="single" rowKey="#{procedimento.codigo}">
                        <p:ajax event="rowSelect" listener="#{procedimento_susBean.rowSelectEventProced}" />
                        <p:column headerText="Código" width="80" style="text-align: center" >
                            <h:outputLabel value="#{procedimento.codigo}"  >
                                <p:ajax event="click" listener="#{procedimento_susBean.selecionarProcedimentoDlg(procedimento)}" />
                            </h:outputLabel>
                        </p:column>
                        <p:column headerText="Procedimentos">
                            <h:outputLabel value="#{procedimento.nome}  #{procedimento.dt_competencia}" >
                                <p:ajax event="click" listener="#{procedimento_susBean.selecionarProcedimentoDlg(procedimento)}" />
                            </h:outputLabel>
                        </p:column>
                    </p:dataTable>
                </p:fieldset>
            </p:fieldset>


        </h:form>

    </h:body>
    <style>
        .labelCabecalho{
            color: #2e6e9e;
            font-weight: bold; 
            font-size:15px ;
        }

    </style>

</html>

