<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <style type="text/css">
            .ui-widget{font-size:90% !important;}
        </style>
    </h:head>
    <h:body>
        <!--growl exibe mensagens na tela-->
        <p:growl id="growl" sticky="true" showDetail="true" life="6000" >
            <p:autoUpdate/>
        </p:growl>
        <h:form>
            #{dlgConfirmaSissaBean.setarListaAux()}
            #{dlgConfirmaSissaBean.setarDtIniAux()}
            #{dlgConfirmaSissaBean.setarDtFimAux()}
            #{dlgConfirmaSissaBean.setarFiltroSituacaoAux()}
            #{dlgConfirmaSissaBean.setUsuarioLogado(usuarioBean.usuarioLogado.id_usuario)}
            <p:fieldset id="fsTabelaSelecionados" style="width: 96%"  >
                <h:panelGrid width="100%" style="text-align: center" >
                    <h:outputLabel value="FORMULARIOS SELECIONADOS"  styleClass="labelCabecalho"/>
                </h:panelGrid>
                <p:fieldset id="fsdtFormularios">
                    <p:dataTable id="dtApac" var="formulario" rowKey="#{formulario.id_formulario}"  value="#{dlgConfirmaSissaBean.listaAux}" rowIndexVar="index"
                                 style="margin-bottom:0" paginator="true" rows="4" emptyMessage="Nenhum registro encontrado!" selectionMode="single">
                        <f:facet name="header">
                            <h:outputText value="" />
                        </f:facet>
                        <p:column headerText="Nº" width="16" style="text-align: center">
                            <h:outputText value="#{index+1}"/>
                        </p:column>

                        <p:column headerText="Paciente" width="20%">
                            <h:outputText value="#{formulario.paciente.nome}"/>
                        </p:column>

                        <p:column headerText="Cartão SUS" width="10%">
                            <h:outputText value="#{formulario.paciente.cns}"/>
                        </p:column>

                        <p:column headerText="Solicitante" width="15%" style="text-align: center">
                            <h:outputText value="#{formulario.solicitante.nome}"/>
                        </p:column>

                        <p:column headerText="Procedimento" width="25%">
                            <h:outputText value="#{formulario.p1.nome}"/>
                        </p:column>

                        <p:column headerText="Código" style="text-align: center" width="80px">
                            <h:outputText value="#{dlgConfirmaSissaBean.mascaraCodProdedimento(formulario.p1.codigo) }"/>
                        </p:column>

                        <p:column headerText="Código do Laudo" style="text-align: center" width="30px">
                            <h:inputText id="modelInput" value="#{formulario.codLaudo}" style="width:96%" />
                            <p:watermark for="modelInput" value="Código histopatológico" id="watermark" />
                        </p:column>

                    </p:dataTable>
                    <h:panelGrid columns="3">
                        <p:commandButton id="btImprimir" value="Imprimir" action="#{dlgConfirmaSissaBean.btImprimir()}"
                                         ajax="false" process="@this"/>
                        <p:commandButton id="btGerarXML" value="Gerar XML" action="#{dlgConfirmaSissaBean.limpaArquivo()}"
                                         onclick="PrimeFaces.monitorDownload(start, stop);" ajax="false"
                                         icon="pi pi-arrow-down" >
                            <p:fileDownload id="fileDownload" value="#{dlgConfirmaSissaBean.file}"  />
                        </p:commandButton>
                        <p:commandButton id="btSair" value="Sair"    action="#{dlgConfirmaSissaBean.btSair()}" ajax="false"
                                         />
                    </h:panelGrid>
                </p:fieldset>
            </p:fieldset>


        </h:form>

    </h:body>
    <style>
        .labelCabecalho{
            color: #2e6e9e;
            font-weight: bold;
            font-size:15px ;
        }

    </style>


</html>

