<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="template.xhtml"
             xmlns:p="http://primefaces.org/ui"
             xmlns:f="http://xmlns.jcp.org/jsf/core">

    #{consultaLaudoBean.setLogado(usuarioBean.logado)}
    
    #{consultaLaudoBean.buscarApac()}

    <p:fieldset id="fsMaster" legend="#{consultaLaudoBean.legend_fsMaster}">
        <p:fieldset>
            <h:panelGrid width="100%" style="text-align: center" >
                <h:outputLabel value="CRITÉRIOS DE SELEÇÃO"  styleClass="labelCabecalho"/>
            </h:panelGrid>
            <h:panelGrid  columns="3" width="70%">

                <h:panelGrid  width="100%" style="text-align: center" >
                    <h:panelGrid>
                        <h:outputLabel value="Período de Preenchimento"  styleClass="labelDados"/>
                    </h:panelGrid>

                    <h:panelGrid columns="2">
                        <h:panelGrid columns="5">
                            <h:outputLabel value="De"  styleClass="labelDados"/>
                            <p:calendar size="11" id="dtIniCriacao" value="#{consultaLaudoBean.dtIniCriacao}" navigator="true" readonlyInput="true" locale="pt" >
                                <p:ajax event="dateSelect"  update="dtFimCriacao,pgTabelaApac" />
                            </p:calendar>
                            <h:outputLabel value="a"  styleClass="labelDados"/>
                            <p:calendar size="11" id="dtFimCriacao" value="#{consultaLaudoBean.dtFimCriacao}" navigator="true" readonlyInput="true" locale="pt" >
                                <p:ajax event="dateSelect" update="dtIniCriacao,pgTabelaApac" />
                            </p:calendar>
                        </h:panelGrid>
                    </h:panelGrid>
                </h:panelGrid>

                <h:panelGrid id="pgBuscaSolicitante">
                    <h:outputText  value="Solicitante" styleClass="labelDados" />
                    <p:autoComplete  size="60" id="dd"   value="#{consultaLaudoBean.solicitante}" completeMethod="#{consultaLaudoBean.nomeSolicitantes}" />
                </h:panelGrid>

                <h:panelGrid>
                    <h:outputLabel value="Situação"  styleClass="labelDados"/>
                    <p:selectOneMenu  id="somStatusApac" value="#{consultaLaudoBean.filtroSituacao}" style="width: 118px" autoWidth="false" height="500"  >
                        <f:selectItems  value="#{consultaLaudoBean.status_item}"/>
                    </p:selectOneMenu>  
                   
                </h:panelGrid>

                <h:panelGrid>
                    <h:outputText value="  Nº Prontuário" style="padding-left: 10px" styleClass="labelDados" />
                    <h:panelGrid style="padding-left: 10%">
                        <p:inputText  style="width: 150px"  value="#{consultaLaudoBean.numProntuario}"/>
                    </h:panelGrid>
                </h:panelGrid>

                <h:panelGrid>
                    <h:outputText value="Paciente"  styleClass="labelDados" />
                    <p:autoComplete  size="60" id="de" value="#{consultaLaudoBean.paciente}" completeMethod="#{consultaLaudoBean.nomePacientes}"/>
                    <!--                    <p:inputText  style="width: 500px"/>-->
                </h:panelGrid>

                <h:panelGrid width="100%">
                    <h:outputText value="Cartão SUS"  styleClass="labelDados" />
                    <p:inputText  style="width: 110px" maxlength="15" value="#{consultaLaudoBean.cartSus}"/>
                </h:panelGrid>

            </h:panelGrid>

            <br/>
            <h:panelGrid>
                <p:commandButton value="Buscar" action="#{consultaLaudoBean.buscarApac()}" update="fsTabelaApac" />
            </h:panelGrid>

        </p:fieldset>
        <p:fieldset id="fsTabelaApac">
            <h:panelGrid id="pgTabelaApac">
                <p:ajax event="click" update="pgTabelaApac"/>
                <p:dataTable id="dtApac" var="formulario" value="#{consultaLaudoBean.forms}" rowIndexVar="index"   paginator="true" rows="22" emptyMessage="Nenhum registro encontrado!" >
                    <f:facet name="header">
                        <h:outputText value="#{consultaLaudoBean.tituloTabela}" />
                    </f:facet>
                    <p:column id="dtBotoes" headerText="Opções" width="100">
                        <p:commandButton  title="Visualizar" icon="ui-icon-document"  action="#{templateBean.setFormularioTemp(formulario)}" actionListener="#{templateBean.formulario_buscar()}" />
                        <p:commandButton title="Editar" icon="ui-icon-pencil" rendered="#{consultaLaudoBean.logado.perfil.id_perfil!=0}" action="#{templateBean.setFormularioTemp(formulario)}" actionListener="#{templateBean.formulario_editar()}" disabled="#{consultaLaudoBean.bloqueioEdicao(formulario)}" />
                        <p:commandButton title="Imprimir"  icon="ui-icon-print" disabled="#{consultaLaudoBean.bloqueioImpressao(formulario)}" action="#{consultaLaudoBean.btImprimirForm(formulario)}" ajax="false"  onclick="this.form.target = '_blank'"/>
                        <p:commandButton title="Cancelar"  icon="ui-icon-trash" onclick="PF('dlgConfirmCancelar').show()" action="#{consultaLaudoBean.setForm_cancelamento(formulario)}" disabled="#{consultaLaudoBean.bloqueioCancelamento(formulario)}" update="@form:fsdlgConfirmCancelar"/>
                    </p:column>

                    <p:column  headerText="Nº Laudo" width="60" sortBy="#{formulario.id_formulario}">
                        <h:outputText value="#{formulario.mascaraId}" />
                    </p:column>

                    <p:column  headerText="Nº do Prontuário" width="60" sortBy="#{formulario.paciente.num_prontuario}">
                        <h:outputText value="#{formulario.paciente.num_prontuario}" />
                    </p:column>

                    <p:column headerText="Paciente" sortBy="#{formulario.paciente.nome}">
                        <h:outputText value="#{formulario.paciente.nome}"/>
                    </p:column>

                    <p:column headerText="Cartão SUS" width="130" >
                        <h:outputText value="#{formularioBean.entidade.solicitante.mascaraCnsSolicitante(formulario.paciente.cns)}"/>
                    </p:column>

                    <p:column headerText="Solicitante" sortBy="#{formulario.solicitante.nome}" >
                        <h:outputText value="#{formulario.solicitante.nome}" />    
                    </p:column>

                    <p:column headerText="Procedimento" width="380" sortBy="#{formulario.p1.nome}">
                        <h:outputText value="#{consultaLaudoBean.mascaraCodProdedimento(formulario.p1.codigo)} #{formulario.p1.nome}"/>    
                    </p:column>

                    <p:column headerText="Data de Preenchimento" style="text-align: center" width="80" sortBy="#{formulario.data_criacaoString()}" >
                        <h:outputText id="oplDtCriacao" value="#{formulario.data_criacaoString()}"/>    
                    </p:column>

                    <p:column headerText="Data da Solicitação" style="text-align: center" width="80" sortBy="#{formulario.dataStringBanco()}" >
                        <h:outputText id="oplDtEmissao" value="#{formulario.dataString}"/>    
                    </p:column>

                    <p:column headerText="Situação" style="text-align: center" width="55" sortBy="#{formulario.status.status.replace('STATUS:','') }">
                        <h:outputText id="optStatus" value="#{formulario.status.status.replace('STATUS:','') }"  />    
                    </p:column>

                </p:dataTable>
            </h:panelGrid>
        </p:fieldset>
    </p:fieldset>

    <p:dialog  widgetVar="dlgConfirmCancelar"   header=" Cancelar APAC" dynamic="true" draggable="true" closable="true" closeOnEscape="false" resizable="false" minimizable="false" position="center center"  >
        <p:fieldset id="fsdlgConfirmCancelar">
            <h:panelGrid width="100%" id="pgdlgConfirmCancelar">
                <h:outputLabel value="Selecione o Motivo do Cancelamento" for="dlgConfirmCancelar_somCancelar" styleClass="labelDados"/>
                <p:selectOneMenu id="dlgConfirmCancelar_somCancelar"  value="#{consultaLaudoBean.idMotivoCancelar}" style="width: 90%">
                    <f:selectItem itemValue="0" itemLabel="Selecione."/>
                    <f:selectItems  value="#{consultaLaudoBean.motivo_cancelamento_item}"/>
                    <p:ajax update="pgBotoesDlgConfirmDesativar"/>
                </p:selectOneMenu>        
                <h:outputLabel value="Deseja realmente cancelar esta APAC?" for="iTObs" styleClass="labelDados"/>
                <h:panelGrid id="pgBotoesDlgConfirmDesativar" columns="2">
                    <p:commandButton value="Não" onclick="PF('dlgConfirmCancelar').hide()" />
                    <p:commandButton value="Sim"  action="#{consultaLaudoBean.btConfirmDlgCancelarApac()}"  
                                     update="@form:fsTabelaApac" 
                                     disabled="#{consultaLaudoBean.idMotivoCancelar == 0}"
                                     onclick="PF('dlgConfirmCancelar').hide()" process="@this"/>
                </h:panelGrid>
            </h:panelGrid>
        </p:fieldset>
    </p:dialog>    
</ui:decorate>

