<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="template.xhtml"
             xmlns:p="http://primefaces.org/ui"
             xmlns:f="http://xmlns.jcp.org/jsf/core">

    #{exportarSissaBean.setLogado(usuarioBean.logado)}
     #{exportarSissaBean.verificaPerfil(usuarioBean.usuarioLogado.perfil.id_perfil)} 

    <script type="text/javascript">
        
        function start() {}

        function stop() {
            location.reload();
        }
        
        function funcao1()
{
        alert("Eu sou um alert!");
}
        
    </script>   

    <p:fieldset id="fsMaster">
        <p:fieldset >
            <h:panelGrid width="100%" style="text-align: center" >
                <h:outputLabel value="AMBIENTE DE EXPORTAÇÃO SISSA"  styleClass="labelCabecalho"/>
            </h:panelGrid>
            <h:panelGrid  columns="2" width="100%" columnClasses="column20,column20" >

                <h:panelGrid columns="2" width="100%" style="text-align: center" columnClasses="column10,column20" >
                    <h:panelGrid  width="50%" >
                        <h:panelGrid width="100%" >
                            <h:outputLabel value="SELECIONE O PERÍODO"  styleClass="labelDados"/>
                        </h:panelGrid>
                        <h:panelGrid id="pgPeriodoTodos" columns="2" rendered="false" >
                            <h:outputLabel value="Todos:"  styleClass="labelDados"/>
                            <h:selectBooleanCheckbox  value="#{exportarSissaBean.selectBooleanCheckBox_periodo}"  >
                                <p:ajax update="dtIni,dtFim,pgTabelaApac" listener="#{exportarSissaBean.buscarApac()}" />
                            </h:selectBooleanCheckbox>
                            <p:selectOneRadio value="true" rendered="true" />
                        </h:panelGrid>
                   

                    <h:panelGrid columns="2">
                        <h:panelGrid columns="5">
                            <h:outputLabel value="De"  styleClass="labelDados"/>
                            <p:calendar id="dtIni" value="#{exportarSissaBean.dtIni}" locale="pt" >
                                <p:ajax event="dateSelect"  update="dtFim,pgTabelaApac,pgPeriodoTodos" />
                            </p:calendar>
                            <h:outputLabel value="a"  styleClass="labelDados"/>
                            <p:calendar id="dtFim" value="#{exportarSissaBean.dtFim}" locale="pt" >
                                <p:ajax event="dateSelect" update="dtIni,pgTabelaApac,pgPeriodoTodos" />
                            </p:calendar>
                            <p:commandButton id="btBuscarSissa" value="Buscar" update="fsTabelaApac,pgTabelaApac,dtApac" action="#{exportarSissaBean.buscarApac()}"/>
                        </h:panelGrid>
                    </h:panelGrid>
                        </h:panelGrid>
                    <h:panelGrid columns="1">
                        <h:outputLabel value="FILTRAR POR SITUAÇÃO:"  styleClass="labelDados"/>
                        <p:selectOneMenu  id="somStatusApac" value="#{exportarSissaBean.filtroSituacao}"  >
                            <f:selectItems  value="#{exportarSissaBean.status_item}"/>
                            <p:ajax event="change" listener="#{exportarSissaBean.buscarApac()}" update="fsTabelaApac" />
                        </p:selectOneMenu>  
                    </h:panelGrid>
                </h:panelGrid>

            </h:panelGrid>

        </p:fieldset>
        <p:fieldset id="fsTabelaApac">
            <h:outputLabel value="Nenhum registro! Efetue uma busca selecionando o período ou a situação!" rendered="#{exportarSissaBean.entidades.size()==0}" /> 
            <h:panelGrid width="100%">
                <h:panelGrid columns="2" id="pg_btGerarXML">
                    <p:commandButton id="btEnviarDere" value="Enviar ao DERE" action="#{exportarSissaBean.abrirDlgConfirmaSissa()}" process="@this" update="@none" rendered="#{exportarSissaBean.rendereBtGerarXML}" style="#{estilosBean.botao()}">
                        <p:ajax event="dialogReturn" listener="#{exportarSissaBean.retornoDlgConfirmaSissa}" process="@this" update="@form,fsTabelaApac,btEnviarDere"/>
                    </p:commandButton>
                                </h:panelGrid>
            </h:panelGrid>
            <h:panelGrid id="pgTabelaApac" rendered="#{exportarSissaBean.rendereCheckBt}">
                <p:dataTable id="dtApac" var="formulario" rowKey="#{formulario.id_formulario}" selection="#{exportarSissaBean.formsSelecionados}" value="#{exportarSissaBean.forms}" rowIndexVar="index" rendered="#{exportarSissaBean.entidades.size()>0}" 
                             style="margin-bottom:0" scrollable="true"  scrollRows="9" scrollHeight="220" >
                    <f:facet name="header">
                        <h:outputText value="#{exportarSissaBean.tituloTabela}" />
                    </f:facet>
                    <p:ajax event="rowSelectCheckbox" listener="#{exportarSissaBean.setCheckBoxMarcado(true)}" update="@form,dtApac"/>
                    <p:ajax event="rowUnselectCheckbox" listener="#{exportarSissaBean.setCheckBoxNaoMarcado(true)}" update="@form,dtApac"/>
                    <p:ajax event="toggleSelect" listener="#{exportarSissaBean.setCheckBoxMarcado(true)}" update="@form,dtApac" />
                    <p:ajax event="rowSelect" listener="#{exportarSissaBean.setCheckBoxMarcado(true)}" update="@form,dtApac"/>
                    <p:column selectionMode="multiple" styleClass="selectionCheckBox" style="width:16px;text-align:center" />
                    <p:column headerText="N°" width="16" style="text-align: center">
                        <h:outputText value="#{index+1}"/>
                    </p:column>

                    <p:column headerText="Paciente" width="20%">
                        <h:outputText value="#{formulario.paciente.nome}"/>
                    </p:column>

                    <p:column headerText="Cartão SUS" style="text-align: center">
                        <h:outputText value="#{formulario.paciente.cns}"/>
                    </p:column>

                    <p:column headerText="Solicitante" width="15%" style="text-align: center">
                        <h:outputText value="#{formulario.solicitante.nome}"/>
                    </p:column>

                    <p:column headerText="Procedimento" width="25%">
                        <h:outputText value="#{formulario.p1.nome}"/>    
                    </p:column>

                    <p:column headerText="Código" style="text-align: center">
                        <h:outputText value="#{exportarSissaBean.mascaraCodProdedimento(formulario.p1.codigo) }"/>    
                    </p:column>

                    <p:column headerText="Data da solicitação" style="text-align: center">
                        <h:outputText value="#{formulario.data}"/>    
                    </p:column>

                    <p:column headerText="Status" style="text-align: center" width="70">
                        <h:outputText id="optStatus" value="#{formulario.status.status.replace('STATUS:','') }"  />    
                    </p:column>
                    

                </p:dataTable>
                </h:panelGrid>
                
            <h:panelGrid rendered="#{!exportarSissaBean.rendereCheckBt}" >
                <p:dataTable id="dtApac2" var="formulario" rowKey="#{formulario.id_formulario}"  value="#{exportarSissaBean.forms}" rowIndexVar="index" rendered="#{exportarSissaBean.entidades.size()>0}" 
                             style="margin-bottom:0" scrollable="true"  scrollRows="9" scrollHeight="220" >
                    <f:facet name="header">
                        <h:outputText value="#{exportarSissaBean.tituloTabela}" />
                    </f:facet>

                    <p:column headerText="Paciente" width="20%">
                        <h:outputText value="#{formulario.paciente.nome}"/>
                    </p:column>

                    <p:column headerText="Cartão SUS" style="text-align: center">
                        <h:outputText value="#{formulario.paciente.cns}"/>
                    </p:column>

                    <p:column headerText="Solicitante" width="15%" style="text-align: center">
                        <h:outputText value="#{formulario.solicitante.nome}"/>
                    </p:column>

                    <p:column headerText="Procedimento" width="25%">
                        <h:outputText value="#{formulario.p1.nome}"/>    
                    </p:column>

                    <p:column headerText="Código" style="text-align: center">
                        <h:outputText value="#{exportarSissaBean.mascaraCodProdedimento(formulario.p1.codigo) }"/>    
                    </p:column>

                    <p:column headerText="Data da solicitação" style="text-align: center">
                        <h:outputText value="#{formulario.data}"/>    
                    </p:column>

                    <p:column headerText="Status" style="text-align: center" width="70">
                        <h:outputText id="optStatus" value="#{formulario.status.status.replace('STATUS:','') }"  />    
                    </p:column>
                    

                </p:dataTable>

            </h:panelGrid>
        </p:fieldset>
    </p:fieldset>
    
   
</ui:decorate>

