<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="template.xhtml"
             xmlns:p="http://primefaces.org/ui"
             xmlns:f="http://xmlns.jcp.org/jsf/core">
    #{relatorioBean.setLogado(usuarioBean.logado)}

    <p:fieldset id="fsMaster">
        <h:panelGrid columns="4" width="90%" style="padding-left: 3%" columnClasses="column20,column25,column25,column25">
            <h:panelGrid>
                <h:outputLabel value="Consultar por:"  styleClass="labelDados"/>
                <p:selectOneMenu  value="#{relatorioBean.valueSomTipoRel}" onkeydown="itBuscar.value = '';" onkeyup="itBuscar.value = '';" style="width: 200px">
                    <f:selectItem itemLabel="CID 10" itemValue="0"/>
                    <f:selectItem itemLabel="SETOR" itemValue="1"/>
                    <f:selectItem itemLabel="SOLICITANTE" itemValue="2"/>
                    <f:selectItem itemLabel="PROCEDIMENTO" itemValue="3"/>
                    <p:ajax event="change" listener="#{relatorioBean.pesquisarRel(vITBusca)}" update="fsMaster"/>
                </p:selectOneMenu>
            </h:panelGrid>

            <h:panelGrid>
                <h:outputLabel value="Filtrar busca" style="font-weight: bold"/>
                <p:inputText id="itBuscar"  value="#{vITBusca}" style="width: 400px" onfocus="this.value = '';" required="false">
                    <p:ajax event="keyup" listener="#{relatorioBean.pesquisarRel(vITBusca)}" update="fsQuantitativo"  />
                    <p:ajax update="itBuscar" resetValues="true"/>
                </p:inputText>
            </h:panelGrid>

            <h:panelGrid>
                <h:panelGrid>
                    <h:outputLabel value="Período de Preenchimento"  styleClass="labelDados"/>
                </h:panelGrid>
                <h:panelGrid columns="2">
                    <h:panelGrid columns="5">
                        <h:outputLabel value="De"  styleClass="labelDados"/>
                        <p:calendar size="11" id="dtIni" value="#{relatorioBean.dtIni}" navigator="true" readonlyInput="true" locale="pt" >
                            <p:ajax event="dateSelect" listener="#{relatorioBean.pesquisarRel(vITBusca)}"  update="dtFim,fsQuantitativo" />
                        </p:calendar>
                        <h:outputLabel value="a"  styleClass="labelDados"/>
                        <p:calendar size="11" id="dtFim" value="#{relatorioBean.dtFim}" navigator="true" readonlyInput="true" locale="pt" >
                            <p:ajax event="dateSelect" listener="#{relatorioBean.pesquisarRel(vITBusca)}" update="dtIni,fsQuantitativo" />
                        </p:calendar>
                    </h:panelGrid>
                </h:panelGrid>
            </h:panelGrid>

            <h:panelGrid  columns="3" style="padding-right: 10px" rendered="#{relatorioBean.valueSomTipoRel==2}">
                <p:selectOneRadio columns="3" layout="grid" id="somStatusRelatorio" value="#{relatorioBean.filtroSituacao}" style="width: 300px"  >
                    <f:selectItem  itemValue="0" itemLabel="Todos"/>
                    <f:selectItem  itemValue="1" itemLabel="Produção" />
                    <f:selectItem  itemValue="2" itemLabel="Sem Produção" />
                    <p:ajax event="click" update="somStatusRelatorio"/>
                    <p:ajax event="change" listener="#{relatorioBean.pesquisarRel(vITBusca)}" update="fsQuantitativo"/>
                </p:selectOneRadio>  
            </h:panelGrid>

        </h:panelGrid>

        <p:fieldset id="fsQuantitativo" rendered="#{relatorioBean.valueSomTipoRel > -1}" >
            <p:dataTable id="dt" var="r" value="#{relatorioBean.rel}" paginator="true" rows="10">
                <f:facet name="header">
                    <h:outputText value="#{relatorioBean.legendaDataTable}" />
                </f:facet>

                <p:column headerText="#{relatorioBean.legendaColuna0}" width="50%" sortBy="#{r.descricao}">
                    <h:outputText value="#{r.descricao}"/>
                </p:column>

                <p:column headerText="Setor" sortBy="#{r.setor}" rendered="#{relatorioBean.valueSomTipoRel == 2}">
                    <h:outputText value="#{r.setor}"/>
                </p:column>

                <p:column headerText="Salvo" style="text-align: center" sortBy="#{r.salvo}">
                    <h:outputText value="#{r.salvo}"/>
                </p:column>

                <p:column headerText="Emitido" style="text-align: center" sortBy="#{r.emitido}" >
                    <h:outputText value="#{r.emitido}"/>
                </p:column>

                <p:column headerText="Enviado ao DERE" style="text-align: center" sortBy="#{r.enviadoDere}">
                    <h:outputText value="#{r.enviadoDere}"/>
                </p:column>

                <p:column headerText="Cancelado" style="text-align: center" sortBy="#{r.cancelado}">
                    <h:outputText value="#{r.cancelado}"/>
                </p:column>

                <p:column headerText="Autorizado" style="text-align: center" sortBy="#{r.autorizado}">
                    <h:outputText value="#{r.autorizado}"/>
                </p:column>

                <p:column headerText="Não autorizado" style="text-align: center" sortBy="#{r.naoAutorizado}">
                    <h:outputText value="#{r.naoAutorizado}"/>    
                </p:column>

                <p:column headerText="Total" style="text-align: center" sortBy="#{r.total}">
                    <h:outputText value="#{r.total}"/>    
                </p:column>
                
                <f:facet name="footer">
                    NO TOTAL EXISTEM <h:outputText value="#{relatorioBean.somatorioApacSituacao()}" /> FORMULÁRIOS NESTA PESQUISA
                </f:facet>

            </p:dataTable>
            <h:panelGrid width="100%" style="text-align: right">
                <h:commandLink>
                    <p:graphicImage name="/img/excel.png" title="Exportar para excel"/>
                    <p:dataExporter type="xls" target="dt" fileName="#{relatorioBean.legendaDataTable}" />
                </h:commandLink>
            </h:panelGrid>
        </p:fieldset>

    </p:fieldset>

</ui:decorate>

