<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="template.xhtml"
             xmlns:p="http://primefaces.org/ui"
             xmlns:f="http://xmlns.jcp.org/jsf/core">
    #{procedimento_susBean.setLogado(usuarioBean.logado)}
    #{procedimento_susBean.initTelaSigtap()}
    <p:fieldset id="fsConsultaProcedimento" legend="Consultar Procedimentos" style=" margin-left: 5%;margin-right: 5% ; margin-bottom: 5%" > 

        <h:panelGrid width="100%" style="text-align: center" >
            <h:outputLabel value="PESQUISAR PROCEDIMENTO POR"  styleClass="labelCabecalho"/>
        </h:panelGrid>
        <p:fieldset>
            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                <h:outputLabel for="somGrupoProced" value="Grupo:" styleClass="labelDados" />
                <p:selectOneMenu id="somGrupoProced" value="#{vsomGrupoProced}" style="width:500px">
                    <f:selectItems value="#{procedimento_susBean.grupo_procedimento_item}" />
                    <p:ajax event="change" listener="#{procedimento_susBean.changeSomGrupoProcedimento(vsomGrupoProced)}" update="somSubGrupo,somFormaOrganizacao" />
                </p:selectOneMenu>   
                <h:outputLabel for="somSubGrupo" value="Sub-Grupo:" styleClass="labelDados"/>
                <p:selectOneMenu id="somSubGrupo" value="#{vsomSubGrupo}" style="width:500px">
                    <f:selectItems value="#{procedimento_susBean.sub_grupo_procedimento_item}" />
                    <p:ajax event="change" listener="#{procedimento_susBean.changeSomSubGrupoProcedimento(vsomSubGrupo)}" update="somFormaOrganizacao" />
                </p:selectOneMenu>   
                <h:outputLabel for="somFormaOrganizacao" value="Forma de Organizção:" styleClass="labelDados"/>
                <p:selectOneMenu id="somFormaOrganizacao" value="#{vsomFormaOrganizacao}" style="width:500px">
                    <f:selectItems value="#{procedimento_susBean.forma_organozacao_item}" />
                </p:selectOneMenu>   
                <h:outputLabel for="codigo" value="Código:" styleClass="labelDados"/>
                <p:inputText id="codigo" value="#{procedimento_susBean.buscaCodProced}" />
                <h:outputLabel for="nome" value="Nome:" styleClass="labelDados"/>
                <p:inputText id="nome" value="#{procedimento_susBean.buscaNomeProced}"/>
                <h:outputLabel for="somCompetencia" value="Competência" styleClass="labelDados"/>
                <p:selectOneMenu id="somCompetencia" value="#{vsomCompetencia}" style="width:200px" >
                    <f:selectItems value="#{procedimento_susBean.competencia_item}" />
                </p:selectOneMenu> 
            </h:panelGrid>
            <p:commandButton value="Buscar" action="#{procedimento_susBean.btBuscarProcedimento(vsomGrupoProced,vsomSubGrupo,vsomFormaOrganizacao,vsomCompetencia)}" update="fsdtProcedimentos"/>
        </p:fieldset>
        <p:fieldset id="fsdtProcedimentos">
            <p:dataTable var="procedimento" value="#{procedimento_susBean.entidades}" paginator="true" rows="8" emptyMessage="Nenhum registro encontrado!">
                <p:column headerText="Visualizar" width="40" style="text-align: center" >
                    <p:commandButton title="Visualizar" icon="ui-icon-document" onclick="PF('dialo-sigtap').show()" action="#{procedimento_susBean.setEntidade(procedimento)}" update="@form:fsDlgProcedimento,@form:fsDlgProcedimento2"/>
                </p:column>
                <p:column headerText="Código" width="80" style="text-align: center" >
                    <h:outputText value="#{procedimento.codigo}"  />
                </p:column>
                <p:column headerText="Procedimentos">
                    <h:outputText value="#{procedimento.nome}" />
                </p:column>
            </p:dataTable>
        </p:fieldset>
    </p:fieldset>
    <p:dialog id="dialo-sigtap"  widgetVar="dialo-sigtap" header="Procedimento" width="70%" height="600px" closable="true" closeOnEscape="false" resizable="false" minimizable="false">
        <p:fieldset  id="fsDlgProcedimento">
            <h:panelGrid id="pgDlgProcedimento" columns="3" >
                <h:outputLabel  value="Procedimento:" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.codigo } - #{procedimento_susBean.entidade.nome }" style="color: darkred" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Grupo:" styleClass="labelDados"/> 
                <h:outputLabel  value="#{procedimento_susBean.entidade.grupoProced().id} - #{procedimento_susBean.entidade.grupoProced().nome}" styleClass="labelDados"/> 
                <br/>

                <h:outputLabel  value="Sub-Grupo:" styleClass="labelDados"/> 
                <h:outputLabel  value="#{procedimento_susBean.entidade.subGrupoProced().id} - #{procedimento_susBean.entidade.subGrupoProced().nome}" styleClass="labelDados"/> 
                <br/>

                <h:outputLabel  value="Forma-Organização:" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.formaOrganizaProced().id} - #{procedimento_susBean.entidade.formaOrganizaProced().nome}" styleClass="labelDados"/> 
                <br/>

                <h:outputLabel  value="Modalidade de Atendimento:" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.tb_modalidade.nome}" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Complexidade:" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.proced_tp_compexidade.complexidade}" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Financiamento:" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.proced_financiamento.nome}" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Sub-tipo de Financiamento:" styleClass="labelDados"/>
                <h:outputLabel  value="" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Instrumento de Resgistro:" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.registro().nome}" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Sexo:" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.tp_sexo.sexo}" styleClass="labelDados"/>
                <br/>
                <h:outputLabel  value="Média de Permanência:" styleClass="labelDados"/>
                <h:outputLabel  value="" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Tempo de Permanência:" styleClass="labelDados"/>
                <h:outputLabel  value="" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Quantidade Máxima" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.qtdString(procedimento_susBean.entidade.qtd_max)}" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Idade Minima" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.qtdIdadeString(procedimento_susBean.entidade.idade_min)}" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Idade Máxima" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.qtdIdadeString(procedimento_susBean.entidade.idade_max)}" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Pontos" styleClass="labelDados"/>
                <h:outputLabel  value="#{procedimento_susBean.entidade.qtdString(procedimento_susBean.entidade.qtd_pontos)}" styleClass="labelDados"/>
                <br/>

                <h:outputLabel  value="Atributos Complementares" styleClass="labelDados"/>
                <h:outputLabel  value="" styleClass="labelDados"/>
                <br/>
            </h:panelGrid>

            <p:fieldset>

                <h:panelGrid  columns="5" width="100%">

                    <h:panelGrid >
                        <h:outputLabel  value="Serviço Ambulatorial R$:" styleClass="labelDados"/>
                        <h:outputLabel  value="#{procedimento_susBean.entidade.valor_ambulatorial}" styleClass="labelDados">
                            <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputLabel>

                        <br/>
                    </h:panelGrid>
                    <h:panelGrid >
                        <h:outputLabel  value="Total Ambulatorial R$:" styleClass="labelDados"/>
                        <h:outputLabel  value="#{procedimento_susBean.entidade.valor_ambulatorial}" styleClass="labelDados">
                            <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputLabel>
                        <br/>
                    </h:panelGrid>

                    <h:panelGrid >
                        <h:outputLabel  value="Serviço hospitalar R$:" styleClass="labelDados"/>
                        <h:outputLabel  value="#{procedimento_susBean.entidade.valor_hospitalar}" styleClass="labelDados">
                            <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputLabel>
                        <br/>
                    </h:panelGrid>
                    <h:panelGrid >
                        <h:outputLabel  value="Serviço profissional R$:" styleClass="labelDados"/>
                        <h:outputLabel  value="#{procedimento_susBean.entidade.valor_proficional}" styleClass="labelDados">
                            <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputLabel>
                        <br/>
                    </h:panelGrid>
                    <h:panelGrid >
                        <h:outputLabel  value="Total hospitalar R$:" styleClass="labelDados"/>
                        <h:outputLabel  value="#{(procedimento_susBean.entidade.valor_hospitalar+procedimento_susBean.entidade.valor_proficional)}" styleClass="labelDados">
                            <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputLabel>
                        <br/>
                    </h:panelGrid>


                </h:panelGrid>
            </p:fieldset>

        </p:fieldset>

        <p:fieldset id="fsDlgProcedimento2">
            <p:tabView >
                <p:tab title="Descrição">
                    <p:fieldset>
                        <h:outputText  value="#{procedimento_susBean.entidade.descricao()}" styleClass="labelDados" />
                    </p:fieldset>
                </p:tab>
                <p:tab title="CID" >
                    <h:panelGrid width="100%">
                        <p:dataTable var="cidProced" value="#{procedimento_susBean.entidade.cids()}" paginator="true" rows="4" emptyMessage="Nenhum registro encontrado!">
                            <p:column headerText="CID 10" width="40" style="text-align: center" >
                                <h:outputLabel value="#{cidProced.cid}" styleClass="labelDados"/>
                            </p:column>
                            <p:column headerText="Descriçao"  style="text-align: center" >
                                <h:outputText value="#{cidProced.nome}"  />
                            </p:column>
                        </p:dataTable>
                    </h:panelGrid>
                </p:tab>
                <p:tab title="CBO">
                    <h:panelGrid width="100%">
                        <p:dataTable var="cidProced" value="#{procedimento_susBean.entidade.cids()}" paginator="true" rows="4" emptyMessage="Nenhum registro encontrado!">
                            <p:column headerText="CID 10" width="40" style="text-align: center" >
                                <h:outputLabel value="#{cidProced.cid}" styleClass="labelDados"/>
                            </p:column>
                            <p:column headerText="Descriçao"  style="text-align: center" >
                                <h:outputText value="#{cidProced.nome}"  />
                            </p:column>
                        </p:dataTable>
                    </h:panelGrid>
                </p:tab>
            </p:tabView>
        </p:fieldset>

    </p:dialog>
</ui:decorate>

